---
import Logo from "./Logo.astro";
---

<header
  class="flex fixed top-0 left-0 right-0 justify-between items-center z-50"
>
  <a>
    <Logo />
  </a>
  <div>
    <h1 class="uppercase text-white">Agencia de talento multiplataforma</h1>
    <ul></ul>
  </div>
</header>
