<section
  class="bg-black w-full border-b-[60px] border-b-primary-green text-white text-3xl"
  data-header-theme="dark"
>
  <video
    class="w-full aspect-[20/9] object-cover"
    autoplay
    loop
    muted
    src="/video/hero.mp4"></video>
</section>
