<section class="min-h-dvh">
  <article class="relative">
    <button class="pl-[60px] ml-14 group">
      <div
        class="bg-primary-green absolute left-0 h-full w-[60px] group-hover:w-full"
      >
      </div>
      <h4>La gala del sr. Croma</h4>
    </button>
  </article>
</section>
