---
import ProjectDetail from "@components/ProjectDetail.astro";

const PROJECTS = [
  {
    title: "La gala del sr. croma",
    subtitle: "Premios a los invisibles del cine",
    description: "El evento de presentaci贸n ...",
    img: "../../public/projects/01.jpg",
    link: "",
    info: [
      {
        label: "viewes unicos",
        value: "100M",
      },
      {
        label: "Pico de espectadores",
        value: "40M",
      },
      {
        label: "Audiencia media",
        value: "260K",
      },
      {
        label: "Likes de instagram",
        value: "5M",
      },
    ],
  },
  {
    title: "La gala del sr. croma",
    subtitle: "Premios a los invisibles del cine",
    description: "El evento de presentaci贸n ...",
    img: "../../public/projects/02.jpg",
    link: "",
    info: [
      {
        label: "viewes unicos",
        value: "100M",
      },
      {
        label: "Pico de espectadores",
        value: "40M",
      },
      {
        label: "Audiencia media",
        value: "260K",
      },
      {
        label: "Likes de instagram",
        value: "5M",
      },
    ],
  },
  {
    title: "La gala del sr. croma",
    subtitle: "Premios a los invisibles del cine",
    description: "El evento de presentaci贸n ...",
    img: "../../public/projects/03.jpg",
    link: "",
    info: [
      {
        label: "viewes unicos",
        value: "100M",
      },
      {
        label: "Pico de espectadores",
        value: "40M",
      },
      {
        label: "Audiencia media",
        value: "260K",
      },
      {
        label: "Likes de instagram",
        value: "5M",
      },
    ],
  },
  {
    title: "La gala del sr. croma",
    subtitle: "Premios a los invisibles del cine",
    description: "El evento de presentaci贸n ...",
    img: "../../public/projects/04.jpg",
    link: "",
    info: [
      {
        label: "viewes unicos",
        value: "100M",
      },
      {
        label: "Pico de espectadores",
        value: "40M",
      },
      {
        label: "Audiencia media",
        value: "260K",
      },
      {
        label: "Likes de instagram",
        value: "5M",
      },
    ],
  },
];
---

<section class="min-h-dvh">
  {
    PROJECTS.map((project) => (
      <article class="relative border-t-2 border-black last:border-b-2 group">
        <button class="pl-[60px]">
          <div class="bg-primary-green absolute left-0 h-full w-[60px] group-hover:w-full transition-all duration-700 ease-project-timing -z-20" />
          <div
            class="absolute inset-0 h-full w-full bg-cover bg-center opacity-0 group-hover:opacity-100 transition-all ease-project-timing delay-700 -z-10"
            style={`background-image:url(${project.img})`}
          />
          <div class="py-10 ml-3">
            <h4 class="uppercase text-8xl font-bold tracking-tighter">
              {project.title}
            </h4>
            <h5 class="uppercase text-2xl text-left tracking-tighter group-hover:opacity-0 transition-opacity duration-7000 ease-in-out">
              {project.subtitle}
            </h5>
          </div>
          <div class="h-full w-[300px] absolute right-0 top-0 flex justify-center items-center border-black border-l">
            <img
              src="../../public/iconos/27323.svg"
              class="w-[50px] rotate-180 group-hover:translate-x-8 duration-700 ease-project-timing"
            />
          </div>
        </button>
      </article>
    ))
  }
  <ProjectDetail />
</section>
<style>
  article:hover h4 {
    animation: text-timing 1.5s cubic-bezier(0.61, 0.03, 0.08, 0.99) both;
  }
  @keyframes text-timing {
    50% {
      transform: translateX(150px);
    }
    100% {
      color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: white;
      transform: translateX(250px);
    }
  }
</style>
